.Block{
border-style: solid;
height: 100mm;
width: 110mm;
text-align: center;
margin-top: 2mm;
margin-left: 5mm;
background-color:rgb(65, 65, 199);
color: yellow;
}

h5{
    color: yellow;
    font-size: 18pt;
}

.movies{
    display: flex;
    flex-direction: row;
    overflow: scroll;
}


.background{
    background-color:white;
    margin-top: 0%;
}

.title{
    padding-top: 25mm;
}

.top{
    display: flex;
    justify-content: center;
    padding-top: 25mm;
}

.info{
    width: 150mm;
    padding-left: 10mm;
}


h3{
    margin-bottom: 0%;
}

#under{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 15mm;
    font-size: 12pt;
}

#info{
    font-size: 18pt;
}

#elm{
    font-size: 22pt;
    color: yellow;
    font-family: fantasy;
}