.Block{
    border: 5px solid yellow;
    height: 100mm;
    width: 110mm;
    text-align: center;
    margin-top: 2mm;
    margin-left: 5mm;
    background-color:rgb(65, 65, 199);
    color: yellow;
    box-shadow: 5px -3px 20px 6px rgba(13, 13, 14, 0.685); 
    }
    
    h5{
        color: yellow;
        font-size: 18pt;
        text-shadow: 1px 1px 2px black;
    }
    
    .info h3 p{
        color:yellow;
    }
    .movies{
        display: flex;
        flex-direction: row;
        overflow: scroll;
        height: 500px;
        align-items: center;
    }
    
    
    .background{
        background-color:rgb(65, 65, 199);
        margin: auto;
        max-width: 1200px;
        box-shadow: 5px -3px 20px 6px rgba(52, 52, 59, 0.103);
    
    }
    