.Block{
    border: 5px solid yellow;
    height: 100mm;
    width: 110mm;
    text-align: center;
    margin-top: 2mm;
    margin-left: 5mm;
    background-color:rgb(65, 65, 199);
    color: yellow;
    box-shadow: 5px -3px 20px 6px rgba(13, 13, 14, 0.685); 
    }

.singleCardInfo{
    position: absolute;
    line-height: 20px;
    text-align: center;
    word-wrap: break-word;
    width: 110mm;
}
